{
  "products": [
    {
      "productName": "Samsung SSD 2TB",
      "url": "https://www.skroutz.gr/s/39358691/Samsung-990-PRO-SSD-2TB-M-2-NVMe-PCI-Express-4-0-MZ-V9P2T0BW.html",
      "targetPrice": "100"
    },
    {
      "productName": "Dremel",
      "url": "https://www.skroutz.cy/s/32650272/Dremel-4250-Peristrofiko-Polyergaleio-175W-me-Rythmisi-Tachytitas.html",
      "targetPrice": "50"
    },
    {
      "productName": "Nintendo Switch 2 256GB",
      "url": "https://www.skroutz.bg/s/58318540/Nintendo-Switch-2-256GB.html",
      "targetPrice": "100"
    },
    {
      "productName": "Tommy Hilfiger watch",
      "url": "https://www.skroutz.de/s/17582724/Tommy-Hilfiger-Daniel-Herrenuhr-44mm-Chronograph-Batterie-mit-Schwarz-Metallarmband-1710383.html",
      "targetPrice": "10"
    },
    {
      "productName": "New Balance 530 Adidasi Albi",
      "url": "https://www.skroutz.ro/s/65221433/new-balance-530-adidasi-albi-mr530asg.html",
      "targetPrice": "10"
    }
  ]
}
